@import "../../Variables/Variables.scss";

.itemCard {
  position: relative;
  background-color: white;
  border-radius: 38.8548px;
  width: 23.85vw;
  height: 23.85vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  z-index: 1;
  font-family: $contentFont;

  @include md-screen {
    width: 40vw;
    height: 40vw;
  }

  @include sm-screen {
    width: 80vw;
    height: 80vw;
  }
}

.cardImage {
  width: 23.85vw;
  height: 23.85vw;
  border-radius: 38.8548px;

  @include md-screen {
    width: 40vw;
    height: 40vw;
  }

  @include sm-screen {
    width: 80vw;
    height: 80vw;
  }
}

.productDescription {
  border-radius: 38.8548px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000cc;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.75vw 2.5vw 2.75vw 2.5vw;

  @include md-screen {
    padding: 4vw 3.5vw 4vw 3.5vw;
  }
}

.descSection {
  display: flex;
  flex-direction: column;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.itemCard:hover .productDescription,
.itemCard:active .productDescription {
  visibility: visible;
  opacity: 1;
}

.productName {
  font-size: $m;

  @include xl-screen {
    font-size: $xl;
  }

  @include xs-screen {
    font-size: $s;
  }
}

.productBrand {
  font-size: $s;

  @include xl-screen {
    font-size: $l;
  }

  @include xs-screen {
    font-size: $xs;
  }
}

.addToCart {
  background: none;
  border: none;
  font-size: $xs;
  color: white;
  font-family: $contentFont;
  cursor: pointer;
  transition: color 0.2s;

  @include xl-screen {
    font-size: $l;
  }
}

.addToCart:active {
  color: gray;
}

.price {
  font-size: $sm;

  @include xl-screen {
    font-size: $xl;
  }
}
