@import "../../Variables/Variables.scss";

.heroTitle {
  background-color: #003941;
  height: 100vh;
}

.hero {
  width: 86vw;

  @include sm-screen {
    padding-top: 5em;
    height: auto;
    width: 100vw;
  }
}

.CTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;

  @include md-screen {
    height: 55vh;
  }

  @include sm-screen {
    height: 60vh;
  }
}

.CTAText {
  font-size: $xxl;
  font-family: $contentFont;
  color: white;

  @include sm-screen {
    font-size: $xl;
  }
}
